<style>
  /* Clase para el div más grande */
.big-div {
  background-color: black;
  color: white;
}

/* Clase para el botón "Register" */
.green-button {
  background-color: #3ace3a; /* Verde fosforescente */
  color: black; /* Puedes cambiar esto si deseas un color de texto diferente */
}
</style>

<div class="card card-body p-5 mt-4 big-div">
  <h1 class="display-4">Notes App Nodejs And Mongodb!</h1>
  <p class="lead">A simple App to manage Notes developed with Nodejs, Express,
    Mongodb and Javascript Technologies</p>
  <hr class="my-4" />
  <p>veniam voluptatibus aliquid unde sit Libero veniam similique ex reiciendis
    doloribus! Deleniti sunt cum ad est atque. Esse earum
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg green-button"
      href="/auth/signup"
      role="button"
    >Register</a>
  </div>
</div>
